*{
    margin: 0;
    padding: 0;
}
.maindiv{
    background-image: url(/img/broken-glass-red-yellow-background-abstract-bg-dj-party-posters-banners-advertisements-broken-glass-red-yellow-137051684.jpg);
    background-repeat: no-repeat;
    background-position: 100 100;
    background-size: 100%;
}
 a{
     color: black;
     text-decoration: none;
     font-size: 30px;
 }
 .s{
     font-size: 50px;
 }
 .tess2{
    display: flex;
    justify-content: space-between;
 }
 .test1 a{
     padding: 15px;
  }
  p{
     display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
     
 }